*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sidebar{
    background-color: rgb(184, 184, 184);
    width: 434px;
    font-family: sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 35px;
}
.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: white;
}
.main{
    /* background-color: brown; */
    width: 89vw;
}
.infocontainer{
    /* background-color: black;  */
    height: 30vw;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.deveInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}
.hello{
    font-size: 40px;
}
.name{
    font-size: 75px;
    font-weight: bold;
}
.about{
    font-size: 25px;
    color: rgb(92, 92, 92);
}
.buttons{
    margin-top: 10px;
}
.buttons button{
    padding: 9px;
    border-radius: 20px;
    font-weight: bold;
    background-color: dodgerblue;
    font-size: 15px;
    margin: 0 5px;
    cursor: pointer;
}
.buttons button:hover{
    background-color: white;
    color: dodgerblue;
}
.devePic img{
    height: 62vh;
}
