*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.sidebar{
    background-color: black;
    color: white;
    width: 10vw;
    font-family: sans-serif;
    height: 100vh;
}
.sidebar nav{
    padding: 35px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 30px 0;
}
.main{
    background-color: brown;
    width: 89vw;
}
.infocontainer{
    background-color: black; 
    height: 30vw;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    color: white;
    justify-content: space-around;
}
.deveInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 12vh;
}
.deveInfo button{
    width: 165px;
}
.devePic img{
    height: 50vh;
}